<div class="ana-div">
    <h3 class="h3-ort">Kategori Ekleme Formu</h3><br>

    <div class="form-boyut">
        <form action="/categoryadd"  method="POST">

            <div style="margin-bottom: 25px" class="input-group">
                <input class="form-control" type="text" name="categoryadd" id="name" placeholder="Kategori Ekleyin.">
            </div>
            <input type="submit" class="btn btn-primary" value="Ekle">



           
        </form> 



    </div>


    
</div>